.testDrive {
  ion-button {
    --border-color: #fff;
  }
}

ion-header {
  z-index: 9999999999999999999999999;
  ion-toolbar {
    background-color: transparent;
    --background: transparent;
    --ion-background-color: transparent;

    * {
      color: #ffffff;
    }
  }
}

@media (max-width: 1515px) {
  .leftSlab {
    display: none;
  }
}

.lottieContainer {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  div {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 99999999;
    background: transparent radial-gradient(closest-side at 50% 50%, #ffffff00 0%, #00000091 100%) 0% 0% no-repeat
      padding-box;
    opacity: 0.8;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(3px);
  }
}

ion-content {
  background-color: transparent;
  --background: transparent;
  --ion-background-color: transparent;

  * {
    color: #ffffff;
  }
}

.currentCount {
  top: 0;
  position: fixed;
  font-size: 562px;
  opacity: 0.2;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  z-index: 8;
}

.heroLanding {
  h1 {
    white-space: break-spaces;
    font-weight: 800;
    font-size: 100px;
  }

  ion-buttons {
    margin-top: 20px;
  }

  ion-button {
    font-size: 20px;
    height: 45px;

    background-color: #ffffff;
    color: #000000;

    &:last-child {
      background-color: #000000;
      color: #ffffff;
    }
  }
}

.rightDetails {
  h2 {
    font-weight: 400;
    white-space: normal;
    max-width: 500px;
    line-height: 27px;
  }

  ion-label {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  ion-avatar {
    width: 190px;
    height: 150px;
    border-radius: 0px;
    --border-radius: 0px;
    margin-right: 0;
  }

  ion-buttons {
    ion-button {
      width: 100px;
      height: 150px;
      background: #fff;

      ion-icon {
        color: #000000;
      }
    }
  }

  ion-item {
    float: right;
    margin-right: 0;
    display: block;
    max-width: 324px;
    place-self: flex-end;
    --inner-padding-end: 0;
  }
}

ion-progress-bar {
  max-width: 300px;
  place-self: flex-end;
}

section {
  height: 100%;

  ion-grid {
    z-index: 999999999;
    * {
      z-index: 999999999;
    }
  }

  @media (min-width: 801px) {
    ion-grid,
    ion-row {
      height: 100%;

      ion-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &:last-child {
          * {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .currentCount {
    font-size: 230px;
  }

  .heroLanding {
    h1 {
      font-size: 40px;
      max-width: 320px;
    }
  }
}
@media (min-width: 801px) {
  .hideOnDestop {
    display: none;
  }
  section,
  ion-header {
    padding-right: 32px;
    padding-left: 32px;
  }
  .rightDetails {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .heroLanding {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .rightDetails {
    * {
      color: #000000;
    }
  }

  .heroLanding {
    ion-button {
      &:first-child {
        border: 1px solid #000;
      }
    }
  }
}

.LottieNotLoaded {
  * {
    color: #000000;
  }
}

.currentCount {
  animation: scaleIn cubic-bezier(0.77, 0, 0.175, 1) 2s;
  animation-delay: 1s;
}

@keyframes scaleIn {
  0% {
    transform: scale(13.5);
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes revealUp {
  0% {
    transform: translate(0, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
