.testDrive {
  ion-button {
    border: 1px solid #ffffff;
    --border-color: #fff;
  }
}

ion-header {
  ion-toolbar {
    background-color: transparent;
    --background: transparent;
    --ion-background-color: transparent;

    * {
      color: #ffffff;
    }
  }
}

.lottieContainer {
  svg {
    g {
      image {
        height: 100vh;
      }
    }
  }
  width: 100%;
  max-width: 100%;

  position: absolute;
  top: 0;

  div {
    width: 100%;
    height: 100%;
    background: transparent radial-gradient(closest-side at 50% 50%, #ffffff 0%, #000000db 100%) 0% 0% no-repeat
      padding-box;
    opacity: 1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
}

ion-content {
  background-color: transparent;
  --background: transparent;
  --ion-background-color: transparent;
}

.currentCount {
  top: 0;
  position: absolute;
  font-size: 562px;
  opacity: 0.2;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  z-index: 8;
}

.heroLanding {
  h1 {
    white-space: break-spaces;
    font-weight: 800;
    font-size: 100px;
  }

  ion-buttons {
    margin-top: 20px;
  }

  ion-button {
    font-size: 20px;
    height: 45px;
    padding: 0 10px;

    background-color: #ffffff;
    color: #000000;

    &:last-child {
      background-color: #000000;
      color: #ffffff;
    }
  }
}

.rightDetails {
  h2 {
    font-weight: 400;
    white-space: normal;
    max-width: 500px;
  }

  ion-label {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

ion-progress-bar {
  max-width: 300px;
  place-self: flex-end;
}

section {
  height: 100%;

  ion-grid {
    z-index: 999999999;
    * {
      z-index: 999999999;
    }
  }

  @media (min-width: 801px) {
    ion-grid,
    ion-row {
      height: 100%;

      ion-col {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &:last-child {
          * {
            text-align: right;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .currentCount {
    font-size: 230px;
  }

  .heroLanding {
    h1 {
      font-size: 40px;
      max-width: 320px;
    }
  }
}
@media (min-width: 801px) {
  .hideOnDestop {
    display: none;
  }
  section,
  ion-header {
    padding-right: 32px;
    padding-left: 32px;
  }
  .rightDetails {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .heroLanding {
    font-size: 60px;
  }
}
