<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="hideOnMobile">
    <ion-title slot="start" class="topTitle">
      <strong>CarMart</strong>
    </ion-title>

    <ion-buttons slot="start">
      <ion-button>Browse Cars</ion-button>
      <ion-button>About</ion-button>
      <ion-button>Contact</ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" class="testDrive">
      <ion-button> Test Drive </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- mobile -->
  <ion-toolbar class="hideOnDestop">
    <ion-title slot="start" class="topTitle" mode="md">
      <strong>CarMart</strong>
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button>Browse Cars</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- landing -->
  <section>
    <h1 class="currentCount">001</h1>
    <!-- animate elements in -->
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="6">
          <ion-item lines="none">
            <ion-label class="heroLanding">
              <strong>
                <h1>Feel & Rent your favourite CAR</h1>
              </strong>
              <ion-buttons>
                <ion-button>Rent now</ion-button>
                <ion-button>Test drive</ion-button>
              </ion-buttons>
            </ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="12" size-lg="6">
          <ion-item lines="none" class="rightDetails">
            <ion-label>
              <p>001 / 002</p>
              <h2>Chasing Extreme Dreams In A Twin-Turbo Huracán. The very first street able Super Trofie Widebody
                Huracan 1000-2 in the world.
              </h2>
              <ion-progress-bar value="0.5"></ion-progress-bar>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <img src="../../assets/">
                </ion-avatar>
                <ion-buttons>
                  <ion-button>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>